
/* Load some fonts from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Press+Start+2P&display=swap');

h1 {
    font-family: 'Bubblegum Sans', cursive;
}

/* Set the line spacing for paragraphs to 1 1/2 lines */
body {
    font-family: 'Press Start 2P', monospace;
    line-height: 1.5em;
}

/* This is the general style for each room page. Each page overloads the color in a style tag. */
.bodyContainer {
    width: 640px;
    background-color: azure;
    display: block;
    margin:auto;
    padding: 10px;
    border-radius: 10px;
    border: 30px;
    border-color: cyan;
    border-style: solid;
}

/* Center each link tag */
a {
    text-align: center;
}

video {
    display: block;
    border-radius: 10px;
    border-color: #d4ab38;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    border-radius: 10px;
    border-width: 5px;
    border-color: #3f7f3f;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    height: 540px;
}
