
h1, h2, h3, h4, h5, h6 {
    font-family: 'URW Geometric', 'Linux Biolinum', 'STIX Two Text', sans-serif;
}

body {
    font-family: 'STIX Two Text', serif;
    margin-left: auto;
    margin-right: auto;
    width: 6in;
}
